
.container {
  background-color: #fff;
  font-family: poppins;
  margin: 0em;
  height: 5em;
  h2 {
    font-size: 2em;
    padding-top: .5em;
    padding-left: .6em;
  }
}

.hero {
  margin: 0em;
  background-color: #F8F8F8;
  height: 91%;
  .example-form {
    padding-left: 20em;
    padding-top: 10em;
  }
}